{% extends 'index.html' %}
{% block content %}

<div class="container">
      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive"  src="/static/img/homes/aboutbill.jpg">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">A unique fit. <span class="text-muted">For an old and a new family.</span></h2>
          <p class="lead">I made billions of dollars in the software industry, but it wasn't my passion. After years of being so rich that it was boring, I decided to sell Real Estate -- something about the human interaction is exciting and fun to me. Read below to learn more about me!</p>
        </div>
      </div>
</div>






<!--<div class="container">-->

<!--<div class="row" style="padding-top: 80px">-->


    <!--<div class="col-lg-5">-->
        <!--<div class="media">-->
            <!--<a class="pull-left" href="#">-->
                <!--<img class="media-object dp img-circle" src="/static/img/homes/gates.jpg" style="width: 100px;height:100px;">-->
            <!--</a>-->
            <!--<div class="media-body">-->
                <!--<h4 class="media-heading">Bill Gates <small> Utah</small></h4>-->
                <!--<h5>Experienced Agent at <a href="http://realtor.com" class="external roll-link">Realtor.com</a></h5>-->
                <!--<hr style="margin:8px auto">-->

                <!--&lt;!&ndash;<span class="label label-default">HTML5/CSS3</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="label label-default">jQuery</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="label label-info">CakePHP</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="label label-default">Android</span>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--<h1>About Bill Gates:</h1>-->

        <!--<p>Bill has been doing the real estate mumbo-jumbo for some rumbling rambling amount of things...oh yes, he is quite the rumbling-jumbling-jumbo jumber that jumbos all the rumbos for the propos</p>-->
    <!--<h1>About Realtor:</h1>-->

        <!--<p>Bill has been doing the real estate mumbo-jumbo for some rumbling rambling amount of things...oh yes, he is quite the rumbling-jumbling-jumbo jumber that jumbos all the rumbos for the propos</p>-->
    <!--</div>-->


<!--</div>-->
<!--</div>-->




    <!--<div class="container marketing">-->


      <!--&lt;!&ndash; START THE FEATURETTES &ndash;&gt;-->

      <!--<hr class="featurette-divider">-->


      <!--<div class="row featurette">-->
        <!--<div class="col-md-5">-->
          <!--<img class="featurette-image img-responsive"  src="static/img/homes/bradybunch.jpg">-->
        <!--</div>-->
        <!--<div class="col-md-7">-->
          <!--<h2 class="featurette-heading">A unique fit. <span class="text-muted">For an old and a new family.</span></h2>-->
          <!--<p class="lead">When Mike Brady, a widowed architect, with three sons married Carol Ann Martin (who had three daughters!) they needed the right house at the right price, "Angela immediately understood our unique, blended, family dynamic and found us a house to match."</p>-->
        <!--</div>-->
      <!--</div>-->
<!--</div>-->


{% endblock %}