{% extends 'base.html' %}
{% block content %}

<div class="container" style="padding-top: 80px">

    <h1>Utah Home Buying Options</h1>
    <hr>
    <p>Home buying options are largely determined by your budget, credit score and what type of loan you are qualified for. Once your credit is verified and your loan amount approved by a lender, we can then determine which loans makes sense for you.</p>
    <p>There are various types of loans that are available to home-buyers throughout the state of Utah and across the United States. Each is unique and offers different benefits for qualifying home-buyers. We go through each of these with a financial lender to determine which you qualify for and then we narrow it down to the loans that will make most financial sense; taking into account income, loan term, interest rates, and all economic factors that play into the eligibility of each loan.</p>
    <p>Take a look through the different types of loans below so you can get an idea of what is available to you. If you fill out the pre-qualification form, we can send you more information on the home loans that will work best for you.</p>

    <h3>Adjustable Rate Loans</h3>
    <p>An adjustable rate loan is also referred to as an ARM loan for short. Unlike fixed rate loans, this type of loan has an interest rate that changes over time. This also means that the size of your monthly payment will change over time. It might adjust up or down, depending on market conditions at the time of adjustment. But they usually adjust upward, resulting in a larger monthly payment.</p>

    <h3>Hybrid Arm Loans</h3>
    <p>Most of the adjustable-rate mortgages offered today are considered "hybrid" loans. They get this name because they start off with a fixed rate for a certain period of time. After that period, the rate will begin to adjust. The most popular example is the 5/1 ARM loan, which carries a fixed rate of interest for the first five years. The rate will change every year after that. Some lenders offer 1-year, 3-year and 7-year ARMs, as well.</p>

    <h3>FHA Loans</h3>
    <p>An FHA loan is a mortgage loan that is insured by the Federal Housing Administration (FHA). Essentially, the federal government insures loans for FHA-approved lenders in order to reduce their risk of loss if a borrower defaults on their mortgage payments. FHA loans are very popular, especially with first-time home buyers.</p>

    <h3>VA Loans</h3>
    <p>VA loans are reserved for military service members and their families. It can be used to finance 100 percent of a home purchase, which eliminates the need for a down payment. This program is managed by the Department of Veteran Affairs. If you're a military member, you should have a VA specialist somewhere within your command. They can provide you with details about the program.</p>

    <h3>USDA Loans</h3>
    <p>USDA loans used to be called RHA loans, for the Rural Housing Administration. The program is overseen by the United States Department of Agriculture, or USDA. This type of mortgage loan is reserved for people who live in certain parts of the country. There are income restrictions as well. They are sometimes referred to as "farmer loans," due to the geographical and demographic nature of the program. But you certainly don't have to be a farmer to qualify. The program is designed for low-income residents of rural areas.</p>

    <h3>Home Equity Loans</h3>
    <p>Home Equity Loans are when a lender gives you a set amount of money and you pay it back over a fixed payment schedule. Typically these loans have fixed interest rates. This is a better option for someone who wants to lock in a fixed interest rate, either because they think interest rates are going to increase or because they like the certainty of knowing what their payment schedule will be.
A home equity loan also is a better option than a home equity line if you know exactly how much money you need to borrow and when you want to borrow it.</p>

    <h3>Utah Home Loans</h3>
    <p>There are several types of loans specific to home buyers in the state of Utah. To find out more information about these loans, feel free to visit <a href="http://www.utahhousingcorp.org" target="_blank">UtahHousingCorp.org</a>.</p>

<!-- MORTGAGE LOAN CALCULATOR BEGIN -->
<script type="text/javascript">
mlcalc_default_calculator = 'mortgage';
mlcalc_currency_code = 'usd';
mlcalc_amortization = 'year';
mlcalc_purchase_price = '300,000';
mlcalc_down_payment = '10';
mlcalc_mortgage_term = '30';
mlcalc_interest_rate = '4.5';
mlcalc_property_tax = '3,000';
mlcalc_property_insurance = '1,500';
mlcalc_pmi = '0.52';
mlcalc_loan_amount = '150,000';
mlcalc_loan_term = '15';
</script>
<script type="text/javascript">if(typeof jQuery == "undefined"){document.write(unescape("%3Cscript src='" + (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));mlcalc_jquery_noconflict=1;};</script><div style="font-weight:normal;font-size:9px;font-family:Tahoma;padding:0;margin:0;border:0;text-align:center;background:transparent;color:#EEEEEE;width:300px;text-align:right;padding-right:10px;" id="mlcalcWidgetHolder"><script type="text/javascript">document.write(unescape("%3Cscript src='" + (document.location.protocol == 'https:' ? 'https://ssl.mlcalc.com' : 'http://cdn.mlcalc.com') + "/widget-wide.js' type='text/javascript'%3E%3C/script%3E"));</script><a href="http://www.mlcalc.com//" style="font-weight:normal;font-size:9px;font-family:Tahoma;color:#EEEEEE;text-decoration:none;">MLcalc.com</a></div>
<!-- MORTGAGE LOAN CALCULATOR END -->

</div>
{% endblock %}