{% extends 'base.html' %}
{% block content %}

<div class="container" style="padding-top: 80px">

    <h1>Financing Options</h1>
    <hr>
    <p>Few experiences are more frustrating than falling in love with a home that’s for sale and then discovering you can’t afford to buy it. The majority of first-time buyers need to finance their home purchase, and a consultation with a mortgage lender is a crucial step in the homebuying process because you need to understand your purchasing power before you begin to look at homes.</p>
    <h3>What is Pre-Loan Approval?</h3>
    <p>Lenders offer borrowers a prequalification letter or a pre-approval letter, but most REALTORS® recommend that you get a pre-approval before shopping for a home. A prequalification letter will state the amount a lender thinks you can borrow based on your income and your credit profile without any actual documentation. Mortgage lending standards have tightened since the housing crisis and all loans now require full documentation and verification of income and assets, so most sellers will only accept an offer from a buyer with a full pre-approval letter that’s based on verified information.</p>

<!-- MORTGAGE LOAN CALCULATOR BEGIN -->
<script type="text/javascript">
mlcalc_default_calculator = 'mortgage';
mlcalc_currency_code = 'usd';
mlcalc_amortization = 'year';
mlcalc_purchase_price = '300,000';
mlcalc_down_payment = '10';
mlcalc_mortgage_term = '30';
mlcalc_interest_rate = '4.5';
mlcalc_property_tax = '3,000';
mlcalc_property_insurance = '1,500';
mlcalc_pmi = '0.52';
mlcalc_loan_amount = '150,000';
mlcalc_loan_term = '15';
</script>
<script type="text/javascript">if(typeof jQuery == "undefined"){document.write(unescape("%3Cscript src='" + (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));mlcalc_jquery_noconflict=1;};</script><div style="font-weight:normal;font-size:9px;font-family:Tahoma;padding:0;margin:0;border:0;text-align:center;background:transparent;color:#EEEEEE;width:300px;text-align:right;padding-right:10px;" id="mlcalcWidgetHolder"><script type="text/javascript">document.write(unescape("%3Cscript src='" + (document.location.protocol == 'https:' ? 'https://ssl.mlcalc.com' : 'http://cdn.mlcalc.com') + "/widget-wide.js' type='text/javascript'%3E%3C/script%3E"));</script><a href="http://www.mlcalc.com//" style="font-weight:normal;font-size:9px;font-family:Tahoma;color:#EEEEEE;text-decoration:none;">MLcalc.com</a></div>
<!-- MORTGAGE LOAN CALCULATOR END -->


</div>
{% endblock %}