{% extends 'base.html' %}
{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <img data-src="http://fillmurray.com/900/500" alt="First slide" src="http://fillmurray.com/900/500">
          <div class="container">
            <div class="carousel-caption">
              <h1>Beautiful Duplex!</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img text:"Second slide" alt="Second slide" src="static/img/homes/01.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Townhouse with views of lake</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="http://fillmurray.com/900/500">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <!--<div class="container marketing -- THESE WERE DELETED AT REQUEST">-->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">A four bedroom rambler. <span class="text-muted">Found in record time.</span></h2>
          <p class="lead">Sue and Bill Clinton needed some place to call their own, at least for when Bill wasn't busy with work -- and they needed it fast. "Angela was quick to understand our needs for a new home and for privacy, the home she found us has been perfect!"</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="http://fillmurray.com/500/500" alt="500x500" src="http://fillmurray.com/500/500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive"  src="static/img/bradybunch.jpg">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">A unique fit. <span class="text-muted">For a new family.</span></h2>
          <p class="lead">Sue and Bill Clinton needed some place to call their own, at least for when Bill wasn't busy with work -- and they needed it fast. "Angela was quick to understand our needs for a new home and for privacy, the home she found us has been perfect!"</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!--<div class="row featurette">-->
        <!--<div class="col-md-7">-->
          <!--<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>-->
          <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
        <!--</div>-->
        <!--<div class="col-md-5">-->
          <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="http://fillmurray.com/500/500">-->
        <!--</div>-->
      <!--</div>-->

      <!--<hr class="featurette-divider">-->

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->	
{% endblock %}