{% extends 'base.html' %}
{% block content %}

<div class="add-pad container">

        <div class="jumbotron hero-spacer">
            <h1>For Sale!</h1>
            <p>Take a look around and let me know what you're interested in learning more about!</p>
            <!--<p><a class="btn btn-primary btn-large">Call to action!</a>-->
            </p>
        </div>

        <!--<hr>-->

        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<h3>Latest Features</h3>-->
            <!--</div>-->
        <!--</div>-->
        <!-- /.row -->

        <div class="row text-center">

            <div class="col-lg-4 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house1.jpg" alt="">
                    <div class="caption">
                        <h3>5 Bedroom</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <!--<p><a href="#" class="btn btn-primary">Buy Now!</a>  -->
                            <a href="#" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 hero-feature">
                <h3>5 Bedroom</h3>
        </div>

        <div class="row text-center">
            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house2.jpg" alt="">
                    <div class="caption">
                        <h3>Going Quick!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house3.jpg" alt="">
                    <div class="caption">
                        <h3>Motivated Seller!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house4.jpg" alt="">
                    <div class="caption">
                        <h3>8 Bedrooms!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->

        <!--<hr>-->

        <div class="row text-center">

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house5.jpg" alt="">
                    <div class="caption">
                        <h3>Pool & Hot Tub</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house6.jpg" alt="">
                    <div class="caption">
                        <h3>Great Yard!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house7.jpg" alt="">
                    <div class="caption">
                        <h3>Motivated Seller!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house9.jpg" alt="">
                    <div class="caption">
                        <h3>New Listing!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->

        <!--<hr>-->

        <!--<footer>-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<p>Copyright &copy; Company 2013</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</footer>-->


</div>


{% endblock %}