{% extends 'base.html' %}
{% block content %}

<div class="add-pad container">

        <div class="jumbotron hero-spacer">
            <h1>For Sale!</h1>
            <p>Take a look around and let me know what you're interested in learning more about!</p>
            <!--<p><a class="btn btn-primary btn-large">Call to action!</a>-->
            </p>
        </div>

    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="/static/img/homes/house9.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">

            <h2 class="text-left">5 Bedroom Rambler</h2>
            <h5 class="text-left">
              Appraisal: $500,000
            </h5>
            <h5 class="text-left">
              Appraisal: $500,000
            </h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <a class="btn btn-primary" href="#">View details</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="http://placehold.it/1024x600" class="img-responsive">
          </div>
          <div class="col-md-8">

            <h2 class="text-left">5 Bedroom Rambler</h2>
            <h5>
              Appraisal:
            </h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <a class="btn btn-primary" href="#">View details</a>
          </div>
        </div>
      </div>
    </div>





        <div class="row text-center">

            <div class="col-lg-4 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house1.jpg" alt="">
                    <div class="caption">
                        <h3>5 Bedroom</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <!--<p><a href="#" class="btn btn-primary">Buy Now!</a>  -->
                            <a href="#" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            </div>


        <div class="row text-center">
            <div class="col-lg-4 col-md-6 hero-feature">
                <h3>5 Bedroom</h3>
        </div>

        <div class="row text-center">
            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house2.jpg" alt="">
                    <div class="caption">
                        <h3>Going Quick!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house3.jpg" alt="">
                    <div class="caption">
                        <h3>Motivated Seller!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house4.jpg" alt="">
                    <div class="caption">
                        <h3>8 Bedrooms!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->

        <!--<hr>-->

        <div class="row text-center">

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house5.jpg" alt="">
                    <div class="caption">
                        <h3>Pool & Hot Tub</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house6.jpg" alt="">
                    <div class="caption">
                        <h3>Great Yard!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house7.jpg" alt="">
                    <div class="caption">
                        <h3>Motivated Seller!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/img/homes/house9.jpg" alt="">
                    <div class="caption">
                        <h3>New Listing!</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">More Info</a>
                            <!--<a href="#" class="btn btn-default">More Info</a>-->
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->

        <!--<hr>-->

        <!--<footer>-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<p>Copyright &copy; Company 2013</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</footer>-->







</div>


{% endblock %}