{% extends 'base.html' %}
{% block content %}


 <div class="clearfix padding030 row-fluid">
                                <ul class="more-info pull-left span6">
                                    <li class="info-label clearfix"><span class="pull-left">Bedrooms:</span>
                                        <span class="qty pull-right">4</span></li>
                                    <li class="info-label clearfix"><span class="pull-left">Bathrooms:</span>
                                        <span class="qty pull-right">2</span></li>
                                    <li class="info-label clearfix"><span class="pull-left">Property
                                        type:</span>
                                        <span class="qty pull-right">Condo</span></li>
                                    <li class="info-label clearfix"><span class="pull-left">Square
                                        feet:</span>
                                        <span class="qty pull-right">1,700 sqft</span></li>
                                </ul>
                                <ul class="more-info pull-right span6">
                                    <li class="info-label clearfix"><span class="pull-left">Year:</span>
                                        <span class="qty pull-right">2010</span></li>
                                    <li class="info-label clearfix"><span class="pull-left">Listing
                                        type:</span>
                                        <span class="qty pull-right">For Sale</span></li>
                                    <li class="info-label clearfix"><span class="pull-left">Parking:</span>
                                        <span class="qty pull-right">Assigned</span></li>
                                    <li class="info-label clearfix"><span class="pull-left">Neighborhood:</span>
                                        <span class="qty pull-right">Oceanfront</span></li>
                                </ul>
                            </div>


{% endblock %}